<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>826620812026-7lilbrukjjsmn3ib51io7vvsrs9s6t9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826620812026-7lilbrukjjsmn3ib51io7vvsrs9s6t9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBmip1CSkN1lmgHK6fXrhFgFX-aZ7a6VAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826620812026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Seneca-Meeks.GymBuddy1-0</string>
	<key>PROJECT_ID</key>
	<string>gymbuddy-e98ed</string>
	<key>STORAGE_BUCKET</key>
	<string>gymbuddy-e98ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:826620812026:ios:4e653e5951feda98</string>
	<key>DATABASE_URL</key>
	<string>https://gymbuddy-e98ed.firebaseio.com</string>
</dict>
</plist>